.home__banner{
   width: 100%;
   height: 400px;
   mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0,0,0,0.7));
   z-index: -1;
   margin-bottom: -50px;
}

.home{
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

.home__row{
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    /* margin-bottom: 5px; */
}